# git-ls-files --others --execute-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# execlude pattenrs (uncomment them if you want to use them):

.*.sw[op]
*~
*.[oa]
*.desktop
*.la
*.lo
.deps
.dirstamp
.libs
Makefile
Makefile.in
yelp

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache/
/build-aux/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/ltmain.sh
/m4
/missing
/mkinstalldirs
/gtk-doc.make
/install-sh
/libtool
/stamp-h1
/yelp
/org.gnome.Yelp.desktop
/org.gnome.Yelp.service

/data/org.gnome.yelp.gschema.valid
/data/domains/yelp.xml
/data/dtd/catalog
/data/xslt/db2html.xsl
/data/xslt/info2html.xsl
/data/xslt/mal2html.xsl
/data/xslt/man2html.xsl
/data/xslt/yelp-common.xsl
/data/yelp.appdata.xml

/docs/libyelp/html-build.stamp
/docs/libyelp/html.stamp
/docs/libyelp/html/
/docs/libyelp/libyelp-decl-list.txt
/docs/libyelp/libyelp-decl.txt
/docs/libyelp/libyelp-overrides.txt
/docs/libyelp/libyelp-sections.txt
/docs/libyelp/libyelp-undeclared.txt
/docs/libyelp/libyelp-undocumented.txt
/docs/libyelp/libyelp-unused.txt
/docs/libyelp/libyelp.args
/docs/libyelp/libyelp.hierarchy
/docs/libyelp/libyelp.interfaces
/docs/libyelp/libyelp.prerequisites
/docs/libyelp/libyelp.signals
/docs/libyelp/libyelp.types
/docs/libyelp/scan-build.stamp
/docs/libyelp/setup-build.stamp
/docs/libyelp/sgml-build.stamp
/docs/libyelp/sgml.stamp
/docs/libyelp/tmpl-build.stamp
/docs/libyelp/tmpl.stamp
/docs/libyelp/tmpl/
/docs/libyelp/version.xml
/docs/libyelp/xml/

/libyelp/stamp-yelp-marshal.h
/libyelp/yelp-marshal.c
/libyelp/yelp-marshal.h
/libyelp/yelp-types.c
/libyelp/yelp-types.h

/po/*.gmo
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/Makefile.in.in
/po/Makevars.template
/po/missing
/po/POTFILES
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/stamp-it
/po/stamp-po
/po/yelp.pot

/tests/test-bz2
/tests/test-io-channel
/tests/test-location-entry
/tests/test-lzma
/tests/test-magic
/tests/test-settings
/tests/test-transform
/tests/test-uri
/tests/test-view
